body{
    background-color: white;
}
ol{
    margin-left: 0px;
    padding: 10px;
    margin-top: 10px;
    padding-top: 10px;
}
section {
    border-top: 2px solid black;
}
main {
    border-top: 2px solid black;
    padding: 10px;
}
p {
    margin: 10px;
}
div {
    border-top: 2px solid black;
}
ul {
    margin-left: 0px;
    padding: 20px;
    margin-top: 10px;
    padding-top: 10px; 
}
li {
    margin-left: 0px;
    padding-left: 0px;
}
figure {
    display: block;
    text-align: center;
}
img {
    width: 300px;
    height: 200px;

}
footer {
    border-top: 2px solid black;
    padding-top: 20px;
}